<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Header -->
<div th:include="includes/header"></div>

<div class="uk-flex uk-flex-column uk-background-muted uk-height-viewport" data-uk-height-viewport>

    <div th:include="includes/flash-message"></div>

    <section class="uk-section uk-section-muted">

        <div class="uk-flex uk-flex-center">
            <div class="uk-width-medium uk-padding-small">

                <!-- login -->
                <form class="toggle-class" action="/auth" method="post" th:object="${authRequest}">
                    <fieldset class="uk-fieldset">

                        <h1 class="uk-heading-medium uk-padding-large uk-text-center"
                            th:text="#{app.auth.title}"></h1>

                        <div class="uk-margin-small">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                                <input class="uk-input uk-border-pill"
                                       th:placeholder="#{app.field.email.label}"
                                       th:field="${authRequest.email}"
                                       type="text">
                            </div>
                        </div>
                        <div class="uk-margin-small">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                                <input class="uk-input uk-border-pill"
                                       th:placeholder="#{app.field.password.label}"
                                       th:field="${authRequest.password}"
                                       type="password">
                            </div>
                        </div>

                        <div class="uk-margin-bottom">
                            <button type="submit"
                                    class="uk-button uk-button-primary uk-border-pill uk-width-1-1" value="Submit">LOG IN
                            </button>
                        </div>
                    </fieldset>
                </form>
                <!-- /login -->
            </div>
        </div>
    </section>
</div>

<div th:include="includes/footer"></div>

</html>