<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/uikit/css/uikit.min.css}">

    <title>Enchère</title>
</head>

<body>
<!--HEADER-->
<!--HEADER-->
<header style="background-color: #fff; border-bottom: 1px solid #f2f2f2" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-left">

            </div>
            <div class="uk-navbar-center">
                <a class="uk-navbar-item uk-logo" th:href="@{/}">Enchère</a>
            </div>
            <div class="uk-navbar-right">

                <!-- Block connecté -->
                <ul th:if="${#authorization.expression('isAuthenticated()')}" class="uk-navbar-nav">
                    <li>
                        <a href="#" data-uk-icon="icon:user"></a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-nav-header uk-text-small uk-text-primary">YOUR ACCOUNT</li>
                                <li><a th:href="@{/show-profile}"><span data-uk-icon="icon: info"></span> Voir le le profil</a></li>
                                <li><a th:href="@{/edit-profile}"><span data-uk-icon="icon: refresh"></span> Modifier le profil</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a th:href="@{/logout}"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="uk-visible@s">
                        <div>
                            <a class="uk-navbar-toggle" data-uk-search-icon href="#"></a>
                            <div class="uk-drop" data-uk-drop="mode: click; pos: right-center; offset: 0; boundary: #navbar">
                                <form action="article.html" class="uk-search uk-search-navbar uk-width-1-1">
                                    <input class="uk-search-input" type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- ./Block connecté -->

                <!-- Block déconnecté -->
                <ul th:unless="${#authorization.expression('isAuthenticated()')}" class="uk-navbar-nav">
                    <li><a th:href="@{/login}"><span data-uk-icon="icon: sign-in"></span> Login</a></li>
                </ul>
                <!-- ./Block déconnecté -->

            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->