<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/uikit/css/uikit.min.css}">

    <title>Enchère</title>
</head>

<body>
<!--HEADER-->
<header style="background-color: #fff; border-bottom: 1px solid #f2f2f2"
        data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top" class="uk-padding-small">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-left">
            </div>
            <div class="uk-navbar-center">
                <a class="uk-navbar-item uk-logo" href="#">Enchère</a>
            </div>
            <div class="uk-navbar-right">
                <!-- Block connecté -->
                <ul th:if="${loggedUser != null}" class="uk-navbar-nav">
                    <li><span th:text="${'Bienvenue ' + loggedUser.login}" class="uk-text-middle"></span></li>
                    <li><span><a th:href="@{/logout}" class="uk-button uk-button-default">Deconnexion</a></span></li>
                </ul>
                <!-- ./Block connecté -->
                <!-- Block deconnecté -->
                <div th:if="${loggedUser == null}">
                    <a th:href="@{/auth}" class="uk-button uk-button-default uk-visible@m">Se Connecter</a>
                </div>
                <!-- ./Block deconnecté -->
            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->
